body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.item {
  color: black;
  margin: 0px 60px;
  text_decoration: none;
}
.item:hover {
  text_decoration: underline;
}
.centered {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
hr.dashed { 
  border-top: 1px dashed;
  border-bottom: none;
}
